
body {
    font-family: Apercu Pro,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 100%;
    background-color: #fff;
    color: #000;
    line-height: 1.5;
    margin: 0;
    position: relative;
}

.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    background-color: #63adfc;
    color: white;
}

#myFont-sm{
    font-size: 1.6rem;
}

.turq-color{
    background-color: #149AA4;
    color: white;
}
.grey-back{
    background-color: gainsboro;
    color: gray;
}
.errorlist{
    color: red;
}
.mint-bg{
    background-color: #37BC98;
    color: white;
}
.mint-text{
    color: #37BC98 !important;
}


a:hover{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}

.hero-sub{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .hero-content{
    position: absolute;
    top: 50%;
} */

/* ---- disable matrialize defaults */
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea{
    border: 1px solid #cccfd3 !important;
    border-radius: .55rem !important;
    width: 100% !important;
    height: calc(2.0em + .75rem + 2px) !important;
    padding: .375rem .75rem !important;
    font-size: 1rem !important;
    box-sizing: border-box !important;
}
/* state :focus ---- disable matrialize defaults*/
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    outline: none;
    border-bottom: 0.5px solid #80bdff; 
    -webkit-box-shadow: none;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

select {
    display: inline-block;
}

.display-text {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

/* checkbox ---> chips */

ul.chips_class_type {
    list-style: none;
    padding: 20px;
}
ul.chips_class_type li{
  display: inline;
}
ul.chips_class_type li label{
    display: inline-block;
    /* background-color: rgba(255, 255, 255, .9) ;
    color: #adadad ; */
    border: 2px solid rgba(139, 139, 139, .3) ;
    border-radius: 25px !important;
    white-space: nowrap !important;
    margin: 3px 0px !important;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent !important;
    transition: all .2s !important;
}

ul.chips_class_type li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.chips_class_type li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px !important;
    content: "\f067";
    transition: transform .3s ease-in-out !important;
}
/* for checkbox */
ul.chips_class_type li label input[type="checkbox"]:checked + label::before {
    content: "\f00c" !important;
    transform: rotate(-360deg) !important;
    transition: transform .3s ease-in-out !important;
}
/* for radio button */
ul.chips_class_type li label input[type="radio"]:checked + label::before {
    content: "\f00c" !important;
    transform: rotate(-360deg) !important;
    transition: transform .3s ease-in-out !important;
}

/* ul#id_2-class_type li label input[type="checkbox"]:checked + label {
    border: 2px solid #1bdbf8 !important;
    background-color: #12bbd4 !important;
    color: #fff !important;
    transition: all .2s !important;
} */

ul.chips_class_type li input[type="checkbox"] {
  display: absolute;
}
ul.chips_class_type li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.chips_class_type li input[type="checkbox"]:focus + label {
  border: 2px solid #e9a1ff !important;
}


/* Hide courses/subjects chips until related programs are checked */
ul#id_3-courses_subjects li label{
    display: none;
}

label {
    font-size: .9rem;
    color: #555555;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.card{
    border: none;
}

.big-circle img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    object-fit: cover;
}

.big-circle{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    margin: auto;
}

.course-chips{
    border: 1px solid #37BC98;
    display: inline-block;
    margin-bottom: 5px;
    border-radius: 25px;
    padding: 0.3rem;
    text-align: center;
    font-size: 0.7rem;
    
}

.icon-text{
    display: flex;
    align-items: center;
    justify-content: center;
}
p {
    display: block;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
    margin-inline-start: 0.1px;
    margin-inline-end: 0.1px;
}
.small-text{
    font-size: 0.8rem;
}
.card-sm-txt{
    font-size: 12px;
}
.school{
    font-size: 1rem;
}

.lead-text {
    font-size: 5vw;
    font-weight: 500;
}
.rate{
    position: absolute;
    bottom: -15%;
    right: 0%;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    border: 2px solid white;
    background-color: #37BC98;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    background-color: #fdfdff;
}
.jumbotron-bwhite{
    background-color: #fdfdff;
}

.profile-pic img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.border-round{
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
    border-bottom-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
}

.back-btn-float{
    position: absolute;
    top: 5%;
    left: 5%;
}

/* Desktop and Tablets */
@media (min-width: 768px){

    /* -------------- hero  -------*/
    .hero-image img {
        height: 500px;
        width: 500px;
    }
    .hero-text{
        font-size: 64px;
        line-height: 76px;
    }
    .hero-subtitle{
        font-size: 24px;
        line-height: 32px;
    }

   /* Navbar */
    /* nav{
        height: 90px;
    } */
    .nav-wrapper{
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .nav-wrapper ul li a{
        font-size: 20px;
    } 
    .prof-header{
            display: flex;
            padding-left: 10%;
    }
    .prof-name{
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 1rem;
    }
    .call-action{
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 20vw;
    }
    .profile-pic img{
        width: 260px;
        height: 260px;
        border-radius: 50%;
    }
    .lead-text{
        font-size: 2.6vw;
        font-weight: 400;
    }
    .wrapper-form{
        display: none;
    }

    /* .lg-row-forms{
        display: none;
    } */
    
}

/* Phone screeens (small) */
@media screen and (max-width: 767px){
    /* -------------- hero ------- */
    .hero-image img {
        height: 250px;
        width: 250px;
    }
    .hero-text{
        font-size: 32px;
        line-height: 40px;
    }

    .hero-subtitle{
        font-size: 18px;
        line-height: 28px;
    }

    .prof-header{
        text-align: center;
    }
    .call-action{
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 1.2rem;
        background-color: white;
        box-shadow: 0 -5px 30px rgba(57,57,57,0.15);
        z-index: 1;
    }
    .call-action div{
       float: left;
    }
    .call-action a{
        margin-top: auto;
        margin-bottom: auto;
        float: right;
    }
    .lg-row-forms{
        display: none;
    }
    .wrapper-form{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: #f7f7f7;
    }
}

.mbox{
    display: flex;
    width: 160px;
    height: 160px;
    background-color: white;
    border-radius: 15px;
    flex-direction: column;
    box-sizing: border-box;
    margin: 10px;
    justify-content: center;

}
/* make mbox a little smaller to fit small screens */
@media screen and (max-width: 370px){
    .mbox{
        width: 130px;
    }
}

/* -------------------   Lighbox   ---------------------- */

  
  .overlay {
    max-height: 100%;
    width: 100%;
    display: none;
    position: absolute;
    z-index: 1;
    top: 15%;
    left: 0;
    background-color: white;
    /* overflow-y: scroll; */
  }
  
  .overlay-content {
    position: relative;
    top: 5%;
    width: 80%;
    margin-top: 30px;
    margin: auto;
    margin-bottom: 20px;
    padding-top: 4rem;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 3%;
    right: 15px;
    /* font-size: 20px; */
    cursor: pointer;
    color: black;
  }
  
  .overlay .closebtn:hover {
    color: black;
  }
  
/* End of lightbox */

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    opacity: 100%;
    position: relative;
}

/* -------------------------------- STEPS PROGRESS --------------------- */
.steps-form {
    display: table;
    width: 100%;
    position: relative; }
.steps-form .steps-row {
    display: table-row; }
.steps-form .steps-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc; }
.steps-form .steps-row .steps-step {
    display: table-cell;
    text-align: center;
    position: relative; }
.steps-form .steps-row .steps-step p {
    margin-top: 0.5rem; }
.steps-form .steps-row .steps-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important; }
.steps-form .steps-row .steps-step .btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    margin-top: 0; }


    /* Mark the active step: */
.step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #4CAF50;
  }

  /* Hide step names on smaller screens */
  /* Phone screeens (small) */
@media only screen and (max-width: 480px){
    .sm-mb{
        margin-bottom: 2rem;
    }
    .sm-hide{
        display: none;
    }
}

  /* -------------------------------- END OF STEPS PROGRESS --------------------- */

  /* Auto-complete box */
  .pac-container{
      border-radius: 10px;
      box-shadow: 0 30px 40px 0 rgba(0,0,0,0.12);
      /* margin-top: 13px; */
  }
  .pac-container .pac-item {
    /* padding: 10px 15px; */
    margin: 10px;
    border: 0;
}
.pac-container .pac-matched {
    color: #149AA4;
}

.pac-logo{
    margin-bottom: 1rem;
}

/* end */

.searchTutor{
    visibility: hidden;
}

.class-es{
    display: flex;
    justify-content: center;
}