
body {
    font-family: "Roboto", Arial, sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 100%;
    background-color: #fff;
    color: #000;
    line-height: 1.5;
    margin: 0;
    position: relative;
}

.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem #07fffc30;
    background-color: #ffffff;
    color: #28a745;
    border: solid 1px #28a745;
}

.btn-twitter{
    background-color: #0ea8ea;      
    color: white;
    font-weight: 600;
}

.btn-fb{
    background-color: #0c53b5f5;
    color: white;
    font-weight: 600;
}

.btn:hover {
    outline: 0;
    box-shadow: 0 0 0 0.2rem #07fffc30;
    background-color: #ffffff;
    color: #28a745;
    border: solid 1px #28a745;
    text-decoration: none;
}

#myFont-sm{
    font-size: 1.6rem;
}

.tutor-info-box{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

.tutor{
    margin-top: 6rem;
}

.tutor-text{
    font-size: 1.0rem;
    font-weight: 300;
}

.line-breaks {
    white-space: pre-line;
}

.break-long-words {
    word-break: break-word; 
}
.material-icons.md-18 { 
    font-size: 18px;
 }

 .material-icons.md-80 { 
    font-size: 80px;
 }
.turq-color{
    background-color: #149AA4;
    color: white;
}
.grey-back{
    background-color: gainsboro;
    color: gray;
}
.errorlist{
    color: red;
}
.mint-bg{
    background-color: #37BC98;
    color: white;
}
.mint-text{
    color: #37BC98 !important;
}
/* .black-text{
    color: black !important;
} */


a:hover{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}

.hero-sub{
    display: flex;
    justify-content: center;
    align-items: center;
}

.share-box img {
    height: 250px;
}

/* .hero-content{
    position: absolute;
    top: 50%;
} */

/* class for contact on tutor onboarding */
.iti {
    display: block !important; 
}

/* ---- disable matrialize defaults */
label {
    display: inline-block;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea{
    border: 1px solid #cccfd3 !important;
    border-radius: .55rem !important;
    width: 100% !important;
    height: calc(2.0em + .75rem + 2px) !important;
    padding: .375rem .75rem !important;
    font-size: 1rem !important;
    box-sizing: border-box !important;
}
/* state :focus ---- disable matrialize defaults*/
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    outline: none;
    border-bottom: 0.5px solid #80bdff; 
    -webkit-box-shadow: none;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

select {
    display: inline-block;
}

.display-text {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

/* checkbox ---> chips */

ul.chips_class_type {
    list-style: none;
    padding: 20px;
}
ul.chips_class_type li{
  display: inline;
}
ul.chips_class_type li label{
    display: inline-block;
    /* background-color: rgba(255, 255, 255, .9) ;
    color: #adadad ; */
    border: 2px solid rgba(139, 139, 139, .3) ;
    border-radius: 25px !important;
    white-space: nowrap !important;
    margin: 3px 0px !important;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent !important;
    transition: all .2s !important;
}

ul.chips_class_type li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.chips_class_type li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px !important;
    /* content: "\f067"; */
    transition: transform .3s ease-in-out !important;
}
/* for checkbox */
ul.chips_class_type li label input[type="checkbox"]:checked + label::before {
    content: "\f00c" !important;
    transform: rotate(-360deg) !important;
    transition: transform .3s ease-in-out !important;
}
/* for radio button */
ul.chips_class_type li label input[type="radio"]:checked + label::before {
    content: "\f00c" !important;
    transform: rotate(-360deg) !important;
    transition: transform .3s ease-in-out !important;
}

/* ul#id_2-class_type li label input[type="checkbox"]:checked + label {
    border: 2px solid #1bdbf8 !important;
    background-color: #12bbd4 !important;
    color: #fff !important;
    transition: all .2s !important;
} */

ul.chips_class_type li input[type="checkbox"] {
  display: absolute;
}
ul.chips_class_type li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.chips_class_type li input[type="checkbox"]:focus + label {
  border: 2px solid #e9a1ff !important;
}


/* Hide courses/subjects chips until related programs are checked */
ul#id_3-courses_subjects li label{
    display: none;
}

label {
    font-size: .9rem;
    color: #555555;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn{
    text-transform: capitalize;
}

.card{
    border: none;
    min-width: auto !important;
}
.tutor-card{
    box-shadow: 0px 0px 20px 0px rgb(50 56 66 / 10%) !important;
    border-radius: 8px !important;
}
.big-circle img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    object-fit: cover;
}

.big-circle{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    margin: auto;
}

.course-chips{
    border: 1px solid #37BC98;
    display: inline-block;
    margin-bottom: 5px;
    border-radius: 25px;
    padding: 8px 16px;
    line-height: 14px;
    min-width: 36px;
    text-align: center;
    font-size: 14px !important;
    font-weight: 500 !important;

    background-color: #f7e3e345;
    border-color: #6c757d;
    color: black;
    
}

.link-theme{
    background-color: #ffffff;
    color: #26a69a;
    border-color: #26a69a;
}

.icon-text{
    display: flex;
    align-items: center;
    justify-content: center;
}
p {
    display: block;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
    margin-inline-start: 0.1px;
    margin-inline-end: 0.1px;
}
.small-text{
    font-size: 0.8rem;
}
.card-sm-txt{
    font-size: 12px;
}
.school{
    font-size: 1rem;
}

.lead-text {
    font-size: 5vw;
    font-weight: 300;
}
.rate{
    position: absolute;
    bottom: -15%;
    right: 0%;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    border: 2px solid white;
    background-color: #ee6e73;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rate p{
    font-size: 11px;
    font-weight: 500;
}

.card{
    background-color: #fdfdff;
}
.jumbotron-bwhite{
    background-color: #fdfdff;
}

.profile-pic img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.border-round{
    border-radius: 30px;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 6%), 0 2px 2px 0 rgb(0 0 0 / 12%);
    min-width: 250px;
    font-size: 17px;
}

.pill-jumbo{
    background-color: #07fffc30;
    color: black;
}

.txt-paragraph{
    font-family: "Roboto",Arial,sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #000000!important;
    padding: 20px 25px;

    /* font-weight: 400;
    font-style: normal; */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.fx-overflw::-webkit-scrollbar {
    display: none !important;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .fx-overflw {
    -ms-overflow-style: none !important;  /* IE and Edge */
    scrollbar-width: none !important;  /* Firefox */
  }

.courseJumbo{
    background-color:#e3f7ed;
    margin-bottom: 0 !important;
}
.onboard-jumbo{
    background-color:#f8f9fa;
    margin-bottom: 0 !important;
    border-radius: 0 !important;
}

.courseJumbo h3 {
    font-weight: 500;
    color: #084034;
}
.course-list {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    white-space: nowrap;
   
}

.course-home ul li p {
    color: #044016;
}

.course-home {
    margin-right: 5rem;
    min-width: 12rem;
    padding: 2rem;
    background-color: rgb(255 255 255 / 73%);
    color: #0a411a;
    min-height: 15rem;
    border-radius: 25px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    justify-content: center;
    align-items: center;
}

.course-home h4 {
    font-weight: 500;
    margin-bottom: 1rem;
}

.list-cities ul li a {
    font-size: 13px;
    font-weight: 500;
    color: black;
    text-decoration: none;
}

.list-cities ul li {
    margin-bottom: 10px;
}

.back-btn-float{
    position: absolute;
    top: 3%;
    left: 5%;
}

.helptext {
    font-size: .9rem;
    /* color: #555555; */
    display: inline-block;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    color: darkolivegreen;
}

.wordCount{
    background-color: #000;
    color: white;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
}

.bioHelper{
    background-color: #2c9176;
    color: white;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
}

.currLoc{
    text-align: center;
    color: #2c9176;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.prof-header{
    background-color: #26a69a1a !important;
}

/* .thumb{
    height: 30px !important;
    width: 30px !important;
    top: 85px !important;
    margin-left: -7px !important;
    left: 195.3px !important;
} */



/* Desktop and Tablets */
@media (min-width: 768px){

    .brand-logo img {
        width: 150px;
    }
    /* -------------- hero  -------*/
    .hero-image img {
        height: 500px;
        width: 500px;
    }
    .hero-text{
        font-size: 64px;
        line-height: 76px;
    }
    .hero-subtitle{
        font-size: 24px;
        line-height: 32px;
    }

    /* social media share page --> box  */
    .share-box{
        padding: 0 200px;
    }

    .share-body{
        padding: 0 60px;
    }

    .share-social{
        padding: 1.5rem 80px !important;
    }

   /* Navbar */
    /* nav{
        height: 90px;
    } */
    .nav-wrapper{
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .nav-wrapper ul li a{
        font-size: 20px;
    } 
    .prof-header{
            display: flex;
            padding-left: 10%;
            
    }
    .prof-name{
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 1rem;
    }
    .call-action{
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 20vw;
    }
    .profile-pic img{
        width: 260px;
        height: 260px;
        border-radius: 50%;
    }
    .lead-text{
        font-size: 2.6vw;
        font-weight: 400;
    }
    .wrapper-form{
        display: none;
    }

    /* .lg-row-forms{
        display: none;
    } */

    .tutor-lead-text{
        font-size: 1.6rem;
        font-weight: 400;
    }
    
}

.cardbox{
    flex: 1;
    text-align: center;
    border: 1px solid #bbb;
    border-radius: 10px;
    margin: 10px;
    display: grid;
    min-width: 410px;
    max-width: 560px;
}

.box-header{
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    color: #00c4c9;
    display: inline-block;
    margin-top: 21px;
}
.cardbox-title{
    display: inline-block;
    transform: translateY(-35%);
    font-weight: 600;
}
.cardbox-content{
    margin-left: 35px;
    margin-right: 35px;
    font-size: 20px;
}
.buttonContainer{
    align-self: end;
    margin-bottom: 31px;
    margin-top: 20px;
    display: inline-block;
    text-align: center;
}
/* Phone screeens (small) */
@media screen and (max-width: 767px){

    

    .brand-logo img {
        width: 120px;
    }
    
    .prof-name{

        margin-top: 1rem;
    }
    /* -------------- hero ------- */
    .hero-image img {
        max-width:100%;
        max-height:100%;
    }
    .hero-text{
        font-size: 32px;
        line-height: 40px;
    }

    .hero-subtitle{
        font-size: 18px;
        line-height: 28px;
    }

    .prof-header{
        text-align: center;
    }
    .call-action{
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 10px 15px;
        width: 100%;
        background-color: white;
        box-shadow: 0 -5px 30px rgba(57,57,57,0.15);
        z-index: 100;
        font-size: 14px;
    }
    /* .call-action div{
       float: left;
    } */
    .call-action a{
        margin-top: auto;
        margin-bottom: auto;
        float: right;
    }
    .lg-row-forms{
        display: none;
    }
    .lg-row-forms .div .card .card-body form{
        display: none;
    }
    .wrapper-form{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: #f7f7f7;
    }

    .tutor-lead-text{
        font-size: 1.3rem;
        font-weight: 400;
    }
}

.mbox{
    display: flex;
    width: 160px;
    height: 160px;
    background-color: white;
    border-radius: 15px;
    flex-direction: column;
    box-sizing: border-box;
    margin: 10px;
    justify-content: center;

}

.mbox div svg {
    color: #26a69a;
}
/* make mbox a little smaller to fit small screens */
@media screen and (max-width: 370px){
    .mbox{
        width: 130px;
    }
}

/* -------------------   Lighbox   ---------------------- */

  
  .overlay {
    min-height: 100%;
    width: 100%;
    display: none;
    position: absolute;
    z-index: 1;
    top: 5%;
    left: 0;
    background-color: white;
    /* overflow-y: scroll; */
  }
  
  .overlay-content {
    position: relative;
    top: 5%;
    width: 80%;
    margin-top: 30px;
    margin: auto;
    margin-bottom: 20px;
    padding-top: 4rem;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 0%;
    right: 15px;
    /* font-size: 20px; */
    cursor: pointer;
    color: black;
  }
  
  .overlay .closebtn:hover {
    color: black;
  }
  
/* End of lightbox */

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    opacity: 100%;
    position: relative;
}

/* -------------------------------- STEPS PROGRESS --------------------- */
.steps-form {
    display: table;
    width: 100%;
    position: relative; }
.steps-form .steps-row {
    display: table-row; }
.steps-form .steps-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc; }
.steps-form .steps-row .steps-step {
    display: table-cell;
    text-align: center;
    position: relative; }
.steps-form .steps-row .steps-step p {
    margin-top: 0.5rem; }
.steps-form .steps-row .steps-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important; }
.steps-form .steps-row .steps-step .btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    margin-top: 0; }


    /* Mark the active step: */
.step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #4CAF50;
  }

  /* Hide step names on smaller screens */
  /* Phone screeens (small) */
@media only screen and (max-width: 480px){
    .sm-mb{
        margin-bottom: 2rem;
    }
    .sm-hide{
        display: none;
    }
}

  /* -------------------------------- END OF STEPS PROGRESS --------------------- */

  /* Auto-complete box */
  .pac-container{
      border-radius: 10px;
      box-shadow: 0 30px 40px 0 rgba(0,0,0,0.12);
      /* margin-top: 13px; */
  }
  .pac-container .pac-item {
    /* padding: 10px 15px; */
    margin: 10px;
    border: 0;
}
.pac-container .pac-matched {
    color: #149AA4;
}

.pac-logo{
    margin-bottom: 1rem;
}

/* end */

.searchTutor{
    display: none;
}

.class-es{
    display: flex;
    justify-content: center;
}

/* ---------------   Tutor search icon on search   ----------------- */

.has-search .form-control {
    padding-left: 2.375rem !important;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    padding: 5px 0;
}

/* Phone screeens (small) */
@media only screen and (max-width: 767px){
    .svg-container svg{
        width: 300px;
        height: 300px;
    }

    .svg-login-container{
        display: none;
    }
}

/* Desktop and Tablets */
@media (min-width: 768px){
    .svg-container svg{
        width: 600px;
        height: 600px;
    }
    .svg-login-container{
        width: 600px;
        height: 600px;
    }
    .tutor_ad{
        padding: 0 20rem;
    }
    .tutor-onboard-ad{
        padding: 0 15rem;
    }
    .nav-tabs{
        padding: 0 15rem;
    }
    .course-list{
        padding: 0 15rem;
    }
    
    .about-content{
        margin: 0 12rem;
    }
}

a {
    color: #28ab9e;

}

.pad-around{
    padding: 0 3rem;
}

.color-jumbo{
    background-color: #46dbc91a;
    color: black;
}

.btn-green-color{
    color: #fff;
    background-color: #26a69a;
    border-color: #26a69a;
}

.btn-theme-color{
    background-color: #e3f7ed;
    color: #40310b;
    border-color: #f8f9fa;
}
.book-a-cls-btn{
    background-color: #18c6b9;
    color: white;
}
.semi-round{
    border-radius: 0.8rem;
    font-weight: 600;
}

.searchbox-cont{
    margin: 12rem 2rem;
    text-align: center;
}

.tutor-prof-sticky{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hmst-w-100{
    width: 65%;
}

/* ----------------------------  turn checkbox into switch  ----------------------------- */
label[for='id_2-negotiable']{
    display: none;
}

label[for='id_tutor_profile-negotiable']{
    display: none;
}

/* #id_2-negotiable{
    display: none;
} */