.myPills nav {
    color: black; 
    background-color: white; 
    width: 100%;
    height: 40px;
    line-height: 40px;
}

.myPills nav a {
    color: rgba(3, 27, 78, 0.6) !important;
    font-size: 16px;
}

.myPills .nav-tabs {
    border-bottom: 2px solid #dee2e6;
}

/* highlight when active */
.nav-tabs .nav-link.active {
    border-bottom:solid 2px #1ba883;
    color: #1ba883 !important;
}

.pill-info {
    margin-top: 20px;
    margin-bottom: 20px;
}

.pill-info img {
    width: 100px;
    height: 100px;
    margin-bottom: 2rem;
}

.pill-paragraph{
    font-family: "Roboto",Arial,sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #202124;

    /* font-weight: 400;
    font-style: normal; */
}

.pill-lead{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px !important;
    line-height: 32px !important;
    margin-bottom: 0.6rem;
    padding-left: 10px;
    padding-right: 10px;
    color: #26a69a;
}

