{% extends "base-without-searchbar.html" %}
{% load static %}
{% block head_title %}
    Group Class Around You
{% endblock head_title %}
{% block extra_head %}
 <style>
     .material-icons{
         display: inline-flex;
         vertical-align: top;
         font-size: 20px;
     }
     body {
         background-color: #f9fdff;
     }

     .small-texts {
         font-size: smaller;
     }

     .prof-avt img {
         
         width: 50px;
         height: 50px;
         border-radius: 50%;
         text-align: center;
         object-fit: cover;
     }
     .prof-avt{
         flex-direction:  row;
         align-items: center;
     }
     .f-box {
         align-items: center;
     }
     .c-purple{
         color: #4554aa;
     }
 </style>
 <!-- google autocomplete -->
 <script>
    let autocomplete;
    function initAutocomplete(){
        autocomplete = new google.maps.places.Autocomplete(
            document.getElementById('place'),
            {
                types: [],
                componentRestrictions: {'country': ['GH']},
                fields: ['place_id', 'geometry', 'name']
            }
        );
        autocomplete.addListener('place_changed', onPlaceChanged);
    } 
    function onPlaceChanged(){
        var place = autocomplete.getPlace();

        if (!place.geometry){
            //User did not selet a prediction; reset the input field --> place is id for search box
            document.getElementById('place').placeholder = 'Enter a location';
        } else {
            //Get lon and lat of entered location
            let latitude = place.geometry.location.lat()
            let longitude = place.geometry.location.lng()
            //Pre-fill lon and lat fields (hidden from user) to be used on the server-side
            $('#longitude').val(longitude);
            $('#latitude').val(latitude);
            
            // Submit form onclick
            //document.forms['searchForm'].submit();
            
        }
    }

    function getPosition(){
        console.log('button clicked');
        // check if user browser supports geolocation
        if ('geolocation' in navigator){
            // Get location coordinates with function (p)
            navigator.geolocation.getCurrentPosition(function(p){
                
                let latitude = p.coords.latitude;
                let longitude = p.coords.longitude;

                console.log(latitude + ' ' + longitude);
                //Pre-fill lon and lat fields (hidden from user) to be used on the server-side
                $('#longitude').val(longitude);
                $('#latitude').val(latitude);
                $('#place').val('My location');

                //Submit form onclick
                //document.forms['searchForm'].submit();
            });

        } else  {
            //Use IP address instead if geolocation not supported
            ipLookup();
            function ipLookup(){
        }    
            

        }
    }
</script>


<!-- Google maps api url and callback function -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCS3XC77YuRTTdhNn9AvdLWjJshRmsnoHk&libraries=places&callback=initAutocomplete" async defer></script>

{% endblock extra_head %}

{% block content %}
    <div class="container mt-5 mb-5">
        <!-- search bar -->
        <div class="row">
            <div class="col-sm card shadow tip-round col-lg-4 mt-4">
                <form class="card-body" action="{% url 'groupstudy:filter' %}" method="get" autocomplete="off">
                    <!-- autocomplete location search -->
                    <input name="place" type="text" class="form-control shadow-sm" autocomplete="off" id="place" placeholder="Search your location...">
                    <input name="longitude" class="d-none" id="longitude">
                    <input name="latitude" class="d-none" id="latitude">
                    <select class="form-control mb-2" id="programme" name="programme"></select>
                    <input class="form-control" id="course" name="course" list="courseList" placeholder="Filter by subjects/courses">
                    <datalist id="courseList">
                        <option value=""></option>
                    </datalist>
                    <!-- range input for distance -->
                    <!-- <div class="form-group">
                        <label for="formControlRange">Distance</label>
                        <input type="range" class="form-control-range" id="formControlRange" name="distance">
                      </div> -->
                    <div class="text-center mt-3">
                        <button class="btn btn-box-radius btn-dark" type="submit">Filter</button>
                    </div>
                    
                </form>
            </div>
        </div>

        <!-- number of tutors nearby -->
     
        <p class="lead text-center tutorNumText">Find Group Classes </p>
        
        <!-- search results -->
        <div class="row">

            <!-- show group classes -->
            {% if group_classes %}
                
                {% for class in group_classes  %}
                <div class="col-sm-6 mb-5">
                    <div class="card shadow tip-round">
                        <div class="card-header bg-transparent border-none">
                            <p class="group-title">{{ class.title }}</p>
                        </div>
                        <div class="card-body">
                            
                            <div>
                                <h6>Subjects</h6>
                                {% for subject in class.subjects %}
                                    <div class="chips-small card-sm-txt">{{ subject }}</div>
                                {% endfor %}
                            </div>
                            
                            <div>
                                <h6 class="mt-3 mb-2">Levels</h6>
                                {% for level in class.levels %}
                                    <div class="chips-small card-sm-txt">{{ level }}</div>
                                {% endfor %}
                            </div>

                        
                            <div class="mt-4">
                                
                                <div class="f-box d-flex mr-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                                    </svg>
                                    <p class="small-texts ml-2">{{ class.start_date }}- {{ class.end_date }}</p>
                                </div>
                                <div class="f-box d-flex mt-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-alarm" viewBox="0 0 16 16">
                                        <path d="M8.5 5.5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9V5.5z"/>
                                        <path d="M6.5 0a.5.5 0 0 0 0 1H7v1.07a7.001 7.001 0 0 0-3.273 12.474l-.602.602a.5.5 0 0 0 .707.708l.746-.746A6.97 6.97 0 0 0 8 16a6.97 6.97 0 0 0 3.422-.892l.746.746a.5.5 0 0 0 .707-.708l-.601-.602A7.001 7.001 0 0 0 9 2.07V1h.5a.5.5 0 0 0 0-1h-3zm1.038 3.018a6.093 6.093 0 0 1 .924 0 6 6 0 1 1-.924 0zM0 3.5c0 .753.333 1.429.86 1.887A8.035 8.035 0 0 1 4.387 1.86 2.5 2.5 0 0 0 0 3.5zM13.5 1c-.753 0-1.429.333-1.887.86a8.035 8.035 0 0 1 3.527 3.527A2.5 2.5 0 0 0 13.5 1z"/>
                                    </svg>
                                    <p class="small-texts ml-2">{{class.start_time}}- {{ class.end_time }}</p>
                                </div>
                            </div>



                            <div class="mt-4">
                                <div class="f-box d-flex">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                    </svg>
                                    <p class="small-texts ml-2 c-purple">{{class.address}}</p>
                                </div>

                                <div class="f-box d-flex mr-3 mt-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cash" viewBox="0 0 16 16">
                                        <path d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
                                        <path d="M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2H3z"/>
                                    </svg>
                                    <p class="small-texts ml-2">{{class.price}}</p>
                                </div>
                                
                            </div>

                            <!-- tutor profile avatar -->
                            <div class="d-flex prof-avt mt-4">
                                
                                <img src="{{class.tutor.tutor_user_profile.avatar.url}}" alt="">
              
                                <p class="text-center text-muted ml-2">Tutor: {{ class.tutor.get_full_name | title}}</p>
                            </div>
                            
                            
                        </div>
                        
                        <div class="card-footer bg-transparent border-none">
                            <div class="text-center">
                                <button class="btn btn-dark">Book now</button>
                            </div>
                            {% include 'groupstudy/delete_group_modal.html' %}
                        </div>
                    </div>    
                </div>
                
                {% endfor %}
            {% else %}
                <div class="col-sm-6 mt-5">
                    <h4 class="text-center mb-5 mt-5">Group Classes Nearby</h4>
                    <div class="card shadow">
                        <div class="card-body text-center">
                            <p class="mb-3">There are no group classes in this location at the moment.</p>
                           
                        </div>
                    </div>
                </div>
            {% endif %}
                
            
                
            
        </div>

        <!-- pagination -->
        <div class="row">
            <div class="col text-center">
                
                {% if group_classes.has_previous %}
                    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                    <a class="btn btn-outline-info mb-4" href="?page={{ group_classes.previous_page_number }}">previous</a>
                {% endif %}
            
                {% for num in group_classes.paginator.page_range %}
                    {% if group_classes.number == num %}
                        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% elif  num > group_classes.number|add:'-3' and num < group_classes.number|add:'3' %}
                        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                   
                {% endfor %}

                {% if group_classes.has_next %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ group_classes.next_page_number }}">Next</a>
                    <a class="btn btn-outline-info mb-4" href="?page={{ group_classes.paginator.num_pages }}">previous</a>
                {% endif %}
            
            </div>
        </div>
    </div>


    <script>
        // Script fetches programmes and courses into dropdown
        const courseList = {{ course_list | safe }};
        const programmeList = {{programme_list | safe}};
        let progDropdown = $('#programme');
        let coursDropdown = $('#courseList');
        let tutorNum = '{{ total_groups }}';

        coursDropdown.empty()
        //coursDropdown.append('<option selected="true" disabled>Filter by subjects/courses</option>');
        //coursDropdown.prop('selectedIndex', 0);

        progDropdown.empty()
        progDropdown.append('<option selected="true" disabled>Filter by programmes</option>');
        progDropdown.prop('selectedIndex', 0);

        // get courses
        for(var course_key in courseList) {
            var course = courseList[course_key];
            coursDropdown.append($('<option></option>').attr('value', course).text(course));
          }
        
        // get programme
        for(var programme_key in programmeList) {
            var programme = programmeList[programme_key];
            progDropdown.append($('<option></option>').attr('value', programme).text(programme));
          }

        
        // steps to extract location name from url

        var url = window.location.href; 
        // removes % from url
        var decodeURL = decodeURIComponent(url);
        // splits string at =
        var fff = decodeURL.split('=');
        console.log({fff});
        // this returns string as followed: Patasi,+Kumasi,+Ghana&lon
        // separate string at &
        // fff returns an array: ['homestud.co/search/q', 'location', 'lon', lan]
        var fields = fff[1].split('&');
        console.log({fields});
        var withSpecialChar = fields[0];
        console.log({withSpecialChar});
        // turns ',+' into a regex, then 'g' stands for replacing all instances
        
        var locName = withSpecialChar.replace(/[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi, ' ');

        // lon from url
        var urlLon = fff[2].split('&')[0];
        console.log({urlLon});
        // lat from url
        var urlLat = fff[3].split('&')[0];
        console.log({urlLat});

        //insert locname, urllat, urllon into search fields as initial values
        $('#place').val(locName);
        $('#latitude').val(urlLat);
        $('#longitude').val(urlLon);

        // title and number of tutors available indicator
        if (tutorNum == 1){
            $('.tutorNumText').text(`${tutorNum} Group Classes around ${locName}`);
            $('title').html(`${tutorNum} Group Classes around ${locName} | Homestud`);
        } else {
            $('.tutorNumText').text(`${tutorNum} Group Classes around ${locName}`);
            $('title').html(`${tutorNum} Group Classes around ${locName} | Homestud`);
        }
        
        console.log({locName});
    </script>
    
    <script src="{% static 'js/ajax_update_group.js' %}"></script>
{% endblock content %}

