
<!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-md-3">
          <h6>Company</h6>
          <ul class="footer-links">
            <li><a href="{% url 'findtutors:about' %}">About us</a></li>
            <li><a href="{% url 'findtutors:terms' %}">Terms of Use</a></li>
            <li><a href="{% url 'findtutors:privacy' %}">Privacy Policy</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Help</h6>
          <ul class="footer-links">
            <li><a href="{% url 'account_signup' %}">Signup</a></li>
            <li><a href="{% url 'findtutors:onboarding_tutor' %}">Become a Tutor</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="mailto:hello@homestud.co">Email: hello@homestud.co</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
            <h6>Community</h6>
            <ul class="footer-links">
              <li><a href="{% url 'findtutors:for-tutors' %}">For Tutors</a></li>
              <li><a href="/#nav-learners" >For Students</a></li>
              <li><a href="#">All Courses/Subjects</a></li>
              <li><a href="{% url 'findtutors:cities' %}">All Cities</a></li>
            </ul>
          </div>

      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; <script>document.write(new Date().getFullYear())</script> All Rights Reserved by 
       <a href="#">Homestud</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="https://facebook.com/ehomestud"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="https://twitter.com/JoinHomestud"><i class="fa fa-twitter"></i></a></li>
            <li><a class="instagram" href="https://www.instagram.com/JoinHomestud/"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>