{% extends "base.html" %}
{% load static %}
{% block head_title %}
      Homestud | Find Tutors in Ghana- Home Tutoring & Private Home Tutors/Teachers
{% endblock head_title %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/slider.css' %}">
<link rel="stylesheet" href="{% static 'css/nav-pills.css' %}">
<script>
    let autocomplete;
    function initAutocomplete(){
        autocomplete = new google.maps.places.Autocomplete(
            document.getElementById('search'),
            {
                types: [],
                componentRestrictions: {'country': ['GH']},
                fields: ['place_id', 'geometry', 'name']
            }
        );
        autocomplete.addListener('place_changed', onPlaceChanged);
    }
    function onPlaceChanged(){
        var place = autocomplete.getPlace();

        if (!place.geometry){
            //User did not selet a prediction; reset the input field --> id_0_address is id for search box
            document.getElementById('search').placeholder = 'Enter a location';
        } else {
            //Get lon and lat of entered location
            let latitude = place.geometry.location.lat()
            let longitude = place.geometry.location.lng()
            //Pre-fill lon and lat fields (hidden from user) to be used on the server-side
            $('#lon').val(longitude);
            $('#lat').val(latitude);
            // Submit form onclick
            document.forms['searchForm'].submit();
            
        }
    }

    function getPosition(){
        console.log('button clicked');
        // check if user browser supports geolocation
        if ('geolocation' in navigator){
            // Get location coordinates with function (p)
            navigator.geolocation.getCurrentPosition(function(p){
                
                let latitude = p.coords.latitude;
                let longitude = p.coords.longitude;

                console.log(latitude + ' ' + longitude);
                //Pre-fill lon and lat fields (hidden from user) to be used on the server-side
                $('#lon').val(longitude);
                $('#lat').val(latitude);
                $('#search').val('My location');

                //Submit form onclick
                document.forms['searchForm'].submit();
            });

        } else  {
            //Use IP address instead if geolocation not supported
            ipLookup();
            function ipLookup(){
        }    
            

        }
    }
</script>
<!-- Google maps api url and callback function -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCS3XC77YuRTTdhNn9AvdLWjJshRmsnoHk&libraries=places&callback=initAutocomplete" async defer></script>
{% endblock extra_head %}
    
{% block content %}

<div class="container mt-5">
    <div class="row">
        <!-- illustration slideshow -->
        <div class="col-sm hero-image text-center">
            <div class="mySlides fade">
                <img src="{% static 'illustration/scene1.svg' %}" alt="">
            </div>
            <div class="mySlides fade">
                <img src="{% static 'illustration/scene2.svg' %}" alt="">
            </div>
            <div class="mySlides fade">
                <img src="{% static 'illustration/scene3.svg' %}" alt="">
            </div>
        </div>

        <div class="col-sm m-4 hero-sub text-center">
            <div class="hero-content">
                <p class="hero-text mb-2 text-center">
                    Find a home tutor.
                </p>
                <p class="hero-subtitle text-muted mb-3 text-center">
                    A new way to get help learning anything from the comfort of your home.  
                </p>
                <form id="searchForm" autocomplete="off" action="{% url 'findtutors:search' %}" method="get">
                    <div class="form-group has-search">
                        <span class="material-icons form-control-feedback">search</span>
                        <input name="q" type="text" class="form-control shadow-sm" autocomplete="off" id="search" placeholder="Search your location...">
                    </div>
                    
                    {% if errCoord %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ errCoord }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                    
                    
                    <p class="btn text-center btn-sm btn-light" onclick="getPosition()">Search Near Me</p>
                    <input name="lon" class="d-none" id="lon">
                    <input name="lat" class="d-none" id="lat">
                    <button class="searchTutor btn btn-sm btn-light" type="submit">Search</button>
                </form>
            </div>
            
        </div>
    </div> 
    <!-- end of first row -->

    {% include 'findtutors/tabs-pill.html' %}

    

</div>

    <script>
        var slideIndex = 0;
        showSlides();

        function showSlides() {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            
            for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";  
            }

            slideIndex++;
            if (slideIndex > slides.length) {slideIndex = 1}
            
            slides[slideIndex-1].style.display = "block";  
            
            setTimeout(showSlides, 9000); // Change image every 5 seconds
        }

    </script>

{% endblock content %}