{% extends "base.html" %}
{% load static %}
{% block head_title %}
      Find Tutors in Ghana- Home Tutoring & Private Home Tutors/Teachers
{% endblock head_title %}
{% block extra_head %}
    
<script>
    let autocomplete;
    function initAutocomplete(){
        autocomplete = new google.maps.places.Autocomplete(
            document.getElementById('search'),
            {
                types: ['establishment'],
                componentRestrictions: {'country': ['GH']},
                fields: ['place_id', 'geometry', 'name']
            }
        );
        autocomplete.addListener('place_changed', onPlaceChanged);
    }
    function onPlaceChanged(){
        var place = autocomplete.getPlace();

        if (!place.geometry){
            //User did not selet a prediction; reset the input field --> id_0_address is id for search box
            document.getElementById('search').placeholder = 'Enter a location';
        } else {
            //Get lon and lat of entered location
            let latitude = place.geometry.location.lat()
            let longitude = place.geometry.location.lng()
            //Pre-fill lon and lat fields (hidden from user) to be used on the server-side
            $('#lon').val(longitude);
            $('#lat').val(latitude);
            // Submit form onclick
            document.forms['searchForm'].submit();
            
        }
    }

    function getPosition(){
        console.log('button clicked');
        // check if user browser supports geolocation
        if ('geolocation' in navigator){
            // Get location coordinates with function (p)
            navigator.geolocation.getCurrentPosition(function(p){
                
                let latitude = p.coords.latitude;
                let longitude = p.coords.longitude;

                console.log(latitude + ' ' + longitude);
                //Pre-fill lon and lat fields (hidden from user) to be used on the server-side
                $('#lon').val(longitude);
                $('#lat').val(latitude);
                $('#search').val('My location');

                //Submit form onclick
                document.forms['searchForm'].submit();
            });

        } else  {
            //Use IP address instead if geolocation not supported
            ipLookup();
            function ipLookup(){
        }    
            

        }
    }
</script>
<!-- Google maps api url and callback function -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCS3XC77YuRTTdhNn9AvdLWjJshRmsnoHk&libraries=places&callback=initAutocomplete" async defer></script>
{% endblock extra_head %}
    
{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm m-4">
            <p class="lead-text mb-4 text-muted">
                home tutors close to you.
            </p>
            <form id="searchForm" action="{% url 'findtutors:search' %}" method="get">
                <div class="form-group">
                    <input name="q" class="form-control shadow-sm" id="search" placeholder="Enter your address or town...">
                </div>
                
                {% if errCoord %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ errCoord }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
                
                
                <p class="btn text-center btn-sm btn-light" onclick="getPosition()">Search Near Me</p>
                <input name="lon" class="d-none" id="lon">
                <input name="lat" class="d-none" id="lat">
                <button class="searchTutor btn btn-sm btn-light" type="submit">Search</button>
            </form>
        </div>
    </div>
    

</div>

{% endblock content %}