{% load static %}
<div class="navbar-fixed">
  <nav class="white">
    <div class="nav-wrapper">
      <a href="{% url 'findtutors:home' %}" class="brand-logo black-text" id="myFont-sm">
        <img src="{% static 'img/homestud_logo.svg' %}" alt="">
      </a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons black-text">menu</i></a>
      <a href="{% url 'findtutors:user_profile' %}" data-target="search-boxy" class="right hide-on-med-and-up mr-3"><i class="material-icons black-text">person</i></a>
      
      <ul class="right hide-on-med-and-down">

        {% if user.is_authenticated %}

          {% if user.is_tutor %}
            <li><a class="black-text" href="{% url 'findtutors:dashboard_profile' %}">Profile</a></li>
            <li><a class="black-text" href="{% url 'chat:index' %}">Messages</a></li>
            <li><a class="black-text" href="{% url 'account_email' %}">Change E-mail</a></li>
            <li><a class="black-text" href="{% url 'account_logout' %}?next={{request.path}}">Sign Out</a></li>
            <li><a class="black-text" href="{% url 'findtutors:cities' %}">All Cities</a></li>
          {% elif user.is_superuser %}
            <li><a class="black-text" href="{% url 'admin:index' %}">Admin</a></li>
            <li><a class="black-text" href="{% url 'admin:index' %}findtutors/tutorprofile/">Tutor Profile</a></li>
            <li><a class="black-text" href="{% url 'admin:index' %}django_q/failure/">Failed Tasks</a></li>
            <li><a class="black-text" href="{% url 'admin:index' %}payments/usertransaction/">User Transactions</a></li>
            <li><a class="black-text" href="{% url 'admin:index' %}users/user/">Users</a></li>


            <li><a class="black-text" href="{% url 'findtutors:dashboard_profile' %}">Profile</a></li>
            <li><a class="black-text" href="{% url 'chat:index' %}">Messages</a></li>
            <li><a class="black-text" href="{% url 'account_email' %}">Change E-mail</a></li>
            <li><a class="black-text" href="{% url 'account_logout' %}?next={{request.path}}">Sign Out</a></li>
            <li><a class="black-text" href="{% url 'findtutors:cities' %}">All Cities</a></li>
          {% else %}
            <li><a class="black-text" href="{% url 'findtutors:user_profile' %}">Profile</a></li>
            <li><a class="black-text" href="{% url 'chat:index' %}">Messages</a></li>
            <li><a class="black-text" href="{% url 'account_email' %}">Change E-mail</a></li>
            <li><a class="black-text" href="{% url 'account_logout' %}?next={{request.path}}">Sign Out</a></li>
            <li><a class="black-text" href="{% url 'findtutors:for-tutors' %}">Become a tutor</a></li>
            <li><a class="black-text" href="{% url 'findtutors:cities' %}">All Cities</a></li>
          {% endif %}
        
        {% else %}
        <li><a class="black-text" href="{% url 'account_login' %}">Sign In</a></li>
        <li><a class="black-text" href="{% url 'account_signup' %}">Create an Account</a></li>
        <li><a class="black-text" href="{% url 'findtutors:for-tutors' %}">Become a tutor</a></li>
        <li><a class="black-text" href="{% url 'findtutors:cities' %}">All Cities</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
</div>

<!-- navbar for mobile screens -->

<ul class="sidenav p-3" id="mobile-demo">
  {% if user.is_authenticated %}
  <p class="text-center">Welcome, {{user.get_short_name}}</p>
    {% if user.is_tutor %}
      <li><a class="black-text" href="{% url 'findtutors:dashboard_profile' %}">Profile</a></li>
      <li><a class="black-text" href="{% url 'chat:index' %}">Messages</a></li>
      <li><a class="black-text" href="{% url 'account_email' %}">Change E-mail</a></li>
      <li><a class="black-text" href="{% url 'account_logout' %}?next={{request.path}}">Sign Out</a></li>
      <li><a class="black-text" href="{% url 'findtutors:cities' %}">All Cities</a></li>
    {% elif user.is_superuser %}
    <li><a class="black-text" href="{% url 'admin:index' %}">Admin</a></li>
    <li><a class="black-text" href="{% url 'admin:index' %}findtutors/tutorprofile/">Tutor Profile</a></li>
    <li><a class="black-text" href="{% url 'admin:index' %}django_q/failure/">Failed Tasks</a></li>
    <li><a class="black-text" href="{% url 'admin:index' %}payments/usertransaction/">User Transactions</a></li>
    <li><a class="black-text" href="{% url 'admin:index' %}users/user/">Users</a></li>

   <hr>

    <li><a class="black-text" href="{% url 'findtutors:dashboard_profile' %}">Profile</a></li>
    <li><a class="black-text" href="{% url 'chat:index' %}">Messages</a></li>
    <li><a class="black-text" href="{% url 'account_email' %}">Change E-mail</a></li>
    <li><a class="black-text" href="{% url 'account_logout' %}?next={{request.path}}">Sign Out</a></li>
    <li><a class="black-text" href="{% url 'findtutors:cities' %}">All Cities</a></li>
    {% else %}
      <li><a class="black-text" href="{% url 'findtutors:user_profile' %}">Profile</a></li>
      <li><a class="black-text" href="{% url 'chat:index' %}">Messages</a></li>
      <li><a class="black-text" href="{% url 'account_email' %}">Change E-mail</a></li>
      <li><a class="black-text" href="{% url 'account_logout' %}?next={{request.path}}">Sign Out</a></li>
      <li><a class="black-text" href="{% url 'findtutors:for-tutors' %}">Become a tutor</a></li>
      <li><a class="black-text" href="{% url 'findtutors:cities' %}">All Cities</a></li>
    {% endif %}

  {% else %}
  <li><a class="black-text" href="{% url 'account_login' %}">Sign In</a></li>
  <li><a class="black-text" href="{% url 'account_signup' %}">Create an Account</a></li>
  <li><a class="black-text" href="{% url 'findtutors:for-tutors' %}">Become a tutor</a></li>
  <li><a class="black-text" href="{% url 'findtutors:cities' %}">All Cities</a></li>
  {% endif %}
</ul>
