{% extends "account/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_head %}
{{ wizard.form.media }}
<link rel=”stylesheet” href=”{% static 'css/onboarding-tutor.js' %}”>
{{ geoform.media }}

<script>
    let autocomplete;
    function initAutocomplete(){
        autocomplete = new google.maps.places.Autocomplete(
            document.getElementById('id_0-address'),
            {
                types: ['establishment'],
                componentRestrictions: {'country': ['GH']},
                fields: ['place_id', 'geometry', 'name']
            }
        );
        autocomplete.addListener('place_changed', onPlaceChanged);
    }
    function onPlaceChanged(){
        var place = autocomplete.getPlace();

        if (!place.geometry){
            //User did not selet a prediction; reset the input field --> id_0_address is id for search box
            document.getElementById('id_0-address').placeholder = 'Enter a location';
        } else {
            //Get lon and lat of entered location
            var latitude = place.geometry.location.lat()
            var longitude = place.geometry.location.lng()
            //Convert to point value and prefill into the field (hidden from user)
            var point = `SRID=4326;POINT(${longitude} ${latitude})`
            $('#id_0-location').val(point);
            console.log(point)
        }
    }
</script>
<!-- Google maps api url and callback function -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCS3XC77YuRTTdhNn9AvdLWjJshRmsnoHk&libraries=places&callback=initAutocomplete" async defer></script>

{% endblock %}

{% block content %}
    <div class="container mb-5">
        <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
        <form action="" method="post">
            {% csrf_token %}
            
            {{ wizard.management_form }}
            {% if wizard.form.forms %}
                {{ wizard.form.management_form }}
                {% for form in wizard.form.forms %}
                    {{ form|crispy }}
                {% endfor %}
            {% else %}
                {{ wizard.form|crispy }}
            {% endif %}
            
        <!-- Show Previous step button -->
            {% if wizard.steps.prev %}
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "Previous" %}</button>
            <input type="submit" value="{% trans "Save & Continue" %}"/>
            {% endif %}
    
            <!-- Show 'Submit' on last step -->
            {% if wizard.steps.last %}
            <input class="btn btn-lg btn-info" type="submit" value="{% trans "Submit" %}"/>
            {% endif %}
    
        </form>
    </div>

    
{% endblock %}