{% block extra_head %}
<script>
    let autocomplete;
    function initAutocomplete(){
        autocomplete = new google.maps.places.Autocomplete(
            document.getElementById('search'),
            {
                types: [],
                componentRestrictions: {'country': ['GH']},
                fields: ['place_id', 'geometry', 'name']
            }
        );
        autocomplete.addListener('place_changed', onPlaceChanged);
    }
    function onPlaceChanged(){
        var place = autocomplete.getPlace();

        if (!place.geometry){
            //User did not selet a prediction; reset the input field --> id_0_address is id for search box
            document.getElementById('search').placeholder = 'Enter a location';
        } else {
            //Get lon and lat of entered location
            let latitude = place.geometry.location.lat()
            let longitude = place.geometry.location.lng()
            //Pre-fill lon and lat fields (hidden from user) to be used on the server-side
            $('#lon').val(longitude);
            $('#lat').val(latitude);
            // Submit form onclick
            document.forms['searchForm'].submit();
            
        }
    }

    function getPosition(){
        console.log('button clicked');
        // check if user browser supports geolocation
        if ('geolocation' in navigator){
            // Get location coordinates with function (p)
            navigator.geolocation.getCurrentPosition(function(p){
                
                let latitude = p.coords.latitude;
                let longitude = p.coords.longitude;

                console.log(latitude + ' ' + longitude);
                //Pre-fill lon and lat fields (hidden from user) to be used on the server-side
                $('#lon').val(longitude);
                $('#lat').val(latitude);
                $('#search').val('My location');

                //Submit form onclick
                document.forms['searchForm'].submit();
            });

        } else  {
            //Use IP address instead if geolocation not supported
            ipLookup();
            function ipLookup(){
        }    
            

        }
    }
</script>
{% endblock extra_head %}

<div class="sidenav" id="search-boxy">
    <div class="searchbox-cont">
        <form id="searchForm" autocomplete="off" action="{% url 'findtutors:search' %}" method="get">
            <div class="form-group has-search">
                <span class="material-icons form-control-feedback">search</span>
                <input name="q" type="text" class="form-control shadow-sm" autocomplete="off" id="search" placeholder="Search your location...">
            </div>
            
            {% if errCoord %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ errCoord }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
            <p class="mb-2">or</p>
            
            <div class="btn text-center border-round btn-theme-color" onclick="getPosition()">Search Near Me</div>
            <input name="lon" class="d-none" id="lon">
            <input name="lat" class="d-none" id="lat">
            <button class="searchTutor btn btn-sm btn-light" type="submit">Search</button>
        </form>
    </div>
    
</div>
  