{% extends "base.html" %}
{% load static %}
{% block head_title %}
      Homestud | Terms & Conditions
{% endblock head_title %}
{% block extra_head %}
{% endblock extra_head %}

{% block content %}
    <div class="container mt-4 mb-5">
        <div class="terms">
            <h1>Terms & Conditions for Homestud</h1>
            <p class="mb-3">The following terms and conditions govern all use of Homestud website and all 
                content, services and products available at or through the website, including, but 
                not limited to, listings or advertisements of self-employed tutors (“Tutors” or “Tutor”), 
                listings or advertisements of Tutor-run group tutorials (“Group Tutorials” or “Group Tutorial”). 
                The Website is offered 
                 subject to your acceptance without modification of all of the terms and 
                 conditions contained herein and all other operating rules, policies 
                 (including, without limitation, Homestud’s Privacy Policy as stated at the bottom of this 
                 document) and procedures that may be published from time to time on this Site by Homestud 
                 (collectively, the “Agreement”). Your agreement is with Homestud Publications 
                 (a startup in Ghana) (Homestud or “we”).
            </p>

            <p>Please read this Agreement carefully before accessing or using the Website. 
                By accessing or using any part of the Website, you agree to become bound by
                 the terms and conditions of this agreement. If you do not agree to all 
                 the terms and conditions of this agreement, then you may not access the 
                 Website or use any services. If these terms and conditions are considered 
                 an offer by Homestud, acceptance is expressly limited to these terms.
            </p>

            <ol>
                <li><strong>General conditions.</strong>
                  <ol class="lower-alpha">
                    <li>Homestud exists as a service to aid students, their parents or other visitors to the Website (“Student” or “Students”) in making contact with Tutors. Each Tutor is self-employed. Students accept that any agreement or contract made with a Tutor for tuition services (“Tuition Arrangement”) is with the Tutor and not with Homestud. It is the responsibility of the Student and the Tutor to come to mutual agreement as to the terms of the Tuition Arrangement before undertaking the first lesson, e.g. time, location and duration.</li>
                    <li>Use of the Website is entirely at your own risk. You accept that Homestud is not responsible or liable for any harm or damage that may occur as a result (although we of course aim to minimise any such risk). It is strongly recommended that both Students and Tutors familiarise themselves with Homestud's <a href="https://Homestud.co/safety">safety</a> recommendations before commencing a Tuition Arrangement.</li>
                    <li>All users and visitors to the Website agree not to promote an external business, product or service to any user or visitor of the Website without the express permission of Homestud.</li>
                    <li>Any material or links you enter on the Website, or otherwise make (or allow any third party to make) available by means of the Website (any such material, “Content”), you are entirely responsible for the content of, and any harm resulting from, that Content. That is the case regardless of what form the Content takes, which includes, but is not limited to text, photo, video, audio, or code. By making Content available, you represent and warrant that your Content does not violate these terms.</li>
                    <li>By submitting Content to Homestud for inclusion on the Website, you grant Homestud a world-wide, royalty-free, and non-exclusive license to reproduce, modify, adapt and publish the Content solely for the purpose of displaying, distributing, and promoting Tutors, Group Tutorials and Homestud in general.</li>
                    <li>If you delete Content, Homestud will use reasonable efforts to remove it from the Website, but you acknowledge that caching or references to the Content may not be made immediately unavailable.</li>
                    <li>When you communicate with other users via the Website or otherwise use the functions of the Website, you may submit to us various material, such as the text of any comments and messages submitted by you via the Website (“User Content”). When we receive User Content from you, we may check whether it complies with these Terms. We may reject your User Content for any of the following reasons:
                      <ol class="lower-roman">
                        <li>If it causes you to breach these Terms including any of your promises as set out in these Terms;</li>
                        <li>For any other reason in our reasonable discretion.</li>
                      </ol>
                    </li>
                    <li>Without limiting any of the representations or warranties herein, Homestud has the right (though not the obligation) to, in Homestud's sole discretion:
                      <ol class="lower-roman">
                        <li>Refuse or remove any content that, in Homestud's reasonable opinion, violates any Homestud policy or is in any way harmful or objectionable; or</li>
                        <li>Terminate or deny access to and use of the Website to any individual or entity for any reason, in Homestud's sole discretion. Homestud will have no obligation to provide a refund of any amounts previously paid.</li>
                      </ol>
                    </li>
                    <li>Homestud has not reviewed, and cannot review, all of the material posted to the Website (for example, Tutor profiles or Group Tutorial listings), and cannot therefore be responsible for that material’s content, use or effects. By operating the Website, Homestud does not represent or imply that it endorses the material there posted, or that it believes such material to be accurate.</li>
                  </ol>
                </li>
                <br>
                <li><strong>Conditions particularly relevant to students and parents.</strong>
                  <ol class="lower-alpha">
                    <li>When contacting a potential Tutor (or using the Premium Service) through the Website, you will be required to submit information in relation to yourself (or the student on whose behalf you are acting), for example your email address, your tuition requirements, etc. In doing so, you agree for this information to be shared with the potential Tutor and Homestud.</li>
                  </ol>
                </li>
                <br>
                <li id="first-lesson-guarantee"><strong>First Lesson Guarantee.</strong>
                  <ol class="lower-alpha">
                    <li>Homestud requires Tutors to guarantee that their first lesson with a Student, if not satisfactory to the Student, will be free of charge (“First Lesson Guarantee”). If you have pre-paid for the first lesson, the Tutor will refund you upon request.</li>
                    <li>Failure of the Tutor to honour the <a href="https://Homestud.co/guarantee">First Lesson Guarantee</a> will lead to suspension of the Tutor from the Website. If you believe a Tutor is in breach of this policy, please raise this with them in the first instance; if this does not resolve the situation, please <a href="https://Homestud.co/contact">contact</a> Homestud.</li>
                  </ol>
                </li>
                <br>
                
                <br>
                <li><strong>Conditions particularly relevant to tutors.</strong>
                  <ol class="lower-alpha">
                    <li>Homestud promotes a “First Lesson Guarantee” policy to potential Students. You agree to incorporate this policy as part of your Tuition Agreement with every Student, namely the guarantee that, if for any reason the Student is dissatisfied with your first lesson, you will not charge them for it (and will provide a full refund if the lesson was paid for in advance). This policy is designed to promote you to potential Students, and from experience, is seldom invoked. Failure to honour the <a href="#first-lesson-guarantee">First Lesson Guarantee</a> policy will lead to suspension from the Website.</li>
                    <li>You should aim to reply to enquiries made by potential Students within 24 hours of receipt, whether or not you are available to enter into a Tuition Arrangement.</li>
                    
                    <li>Tutors set their own rate (hourly or otherwise) for the services they are advertising, subject to any minimum amount allowed by Homestud. Rates must be a whole number, and inclusive of any applicable tax that you are liable for, so that Tutor prices can easily be compared by users of the Website. If you feel that an additional fee is required, for example a travel fee, this may be discussed with the potential Student and your hourly rate modified accordingly.</li>
                    <li>You are permitted to offer discounts to Students as you see fit (i.e. amend the hourly rate you invoice a particular Student at). You are also permitted to offer free tuition, e.g. charity work; simply do not raise an invoice for these lessons.</li>
                    
                    <li>Tutors using the Website are self-employed, and therefore you accept all responsibility for complying with any taxation, insurance and employment-related responsibilities arising in connection with any Tuition Arrangement made with a Student. Homestud does not monitor or track this on your behalf.</li>
                    <li>In your profile, you agree not to include any personal contact information, for example an email address, phone number or link to an external website or communication method. Any contact made to you by a potential Student must go through the Website’s built-in contact function; after this first contact, you are free to communicate with the Student as and how you wish. Infringement of the above may lead to deactivation of your account.</li>
                    <li>When creating your profile for the Website, you warrant the accuracy of the information posted and agree not to submit any false or misleading information. Multiple profiles or identities for a single person are not allowed. You agree not to promote a business, an organisation or other websites.</li>
                    <li>You acknowledge that your profile and some details entered by you on the Website, including your full name and photo, will be publicly visible and may appear in search engine results.</li>
                    <li>You are responsible for maintaining the security of your account and listed profile, and you are fully responsible for all activities that occur under the account and any other actions taken in connection with your listed profile.</li>
                    <li>Homestud reserves the right to deactivate your account if your profile or behavior is deemed to be unsatisfactory or inappropriate.</li>
                  </ol>
                </li>
                <br>
                
                <br>
                <li id="disputes"><strong>Disputes.</strong>
                  <ol class="lower-alpha">
                    <li>Homestud is not involved in the actual transaction and execution of a Tuition Agreement between Students and Tutors. Therefore, in the event that you have a dispute with a Student or Tutor that you have connected with through the Website, you release Homestud from all claims, demands and damages (actual and consequential) in any way connected with any such dispute.</li>
                    <li>Homestud can try to arbitrate any dispute arising between a Student and a Tutor, but offers no guarantees in this regard. Please <a href="https://Homestud.co/contact">contact us</a> if you have a dispute that you would like us to attempt to arbitrate.</li>
                  </ol>
                </li>
                <br>
                <li><strong>Copyright Policy.</strong>
                  <ol class="lower-alpha">
                    <li>The copyright in all materials provided on this website is held by Homestud, or by the original creator of the material. All rights not expressly granted are reserved. The authors’ moral rights are asserted.</li>
                    <li>As Homestud asks others to respect its intellectual property rights, it respects the intellectual property rights of others. If you believe that material located on or linked to by Homestud violates your copyright, you are encouraged to <a href="https://Homestud.co/contact">notify us</a>. Homestud will respond to all such notices, including as required or appropriate by removing the infringing material or disabling all links to the infringing material.</li>
                    <li>Homestud will terminate a visitor’s or user’s access to and use of the Website if, under appropriate circumstances, the visitor or user is determined to be a repeat infringer of the copyrights or other intellectual property rights of Homestud or others. In the case of such termination, Homestud will have no obligation to provide a refund of any amounts previously paid to Homestud.</li>
                  </ol>
                </li>
                <br>
                <li><strong>Intellectual Property.</strong>
                  <ol class="lower-alpha">
                    <li>This Agreement does not transfer from Homestud to you any Homestud or third party intellectual property, and all right, title and interest in and to such property will remain (as between the parties) solely with Homestud.</li>
                    <li>Homestud and all other trademarks, service marks, graphics and logos used in connection with the Website are trademarks or registered trademarks of Homestud or Homestud's licensors. Other trademarks, service marks, graphics and logos used in connection with the Website may be the trademarks of other third parties.</li>
                    <li>Your use of the Website grants you no right or license to reproduce or otherwise use any Homestud or third-party trademarks.</li>
                  </ol>
                </li>
                <br>
                <li><strong>Advertisements.</strong>
                  <ol class="lower-alpha">
                    <li>Homestud reserves the right to display advertisements, third party or otherwise, on any part of the Website.</li>
                  </ol>
                </li>
                <br>
                <li><strong>Attribution.</strong>
                  <ol class="lower-alpha">
                    <li>Homestud reserves the right to display attribution links to the Website in communications or invoices sent using the Website (for example, including a link to the Website on invoices issued through the Payment Facility).</li>
                  </ol>
                </li>
                <br>
                <li><strong>Changes.</strong>
                  <ol class="lower-alpha">
                    <li>From time to time we update our services, meaning we sometimes have to change the legal terms under which our services are offered. If we make changes that are material, we will let you know by posting on one of our blogs, or by sending you an email or other communication before the changes take effect.</li>
                    <li>The notice will designate a reasonable period of time after which the new Terms will take effect. If you disagree with our changes, then you should stop using Homestud within the designated notice period.</li>
                    <li>Your continued use of Homestud will be subject to the new Terms. However, any dispute that arose before the changes shall be governed by the Terms (including the binding individual arbitration clause) that were in place when the dispute arose.</li>
                  </ol>
                </li>
                <br>
                <li><strong>Termination.</strong>
                  <ol class="lower-alpha">
                    <li>Homestud may terminate your access to all or any part of the Website at any time, with or without cause, with or without notice, effective immediately.</li>
                    <li>If you wish to terminate this Agreement or your Homestud account (if you have one), you may simply discontinue using the Website.</li>
                    <li>All provisions of this Agreement which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability. </li>
                  </ol>
                </li>
                <br>
                <li><strong>Limitation of Liability.</strong>
                  <ol class="lower-alpha">
                    <li>In no event will Homestud, or its suppliers or licensors, be liable with respect to any subject matter of this agreement under any contract, negligence, strict liability or other legal or equitable theory for:
                      <ol class="lower-roman">
                        <li>Any special, incidental or consequential damages;</li>
                        <li>The cost of procurement for substitute products or services;</li>
                        <li>For interruption of use or loss or corruption of data; or</li>
                        <li>For any amounts that exceed the fees paid by you to Homestud under this agreement during the twelve (12) month period prior to the cause of action.</li>
                      </ol>
                    </li>
                    <li>If you wish to terminate this Agreement or your Homestud account (if you have one), you may simply discontinue using the Website.</li>
                    <li>Homestud shall have no liability for any failure or delay due to matters beyond their reasonable control. The foregoing shall not apply to the extent prohibited by applicable law.</li>
                  </ol>
                </li>
                <br>
                <li><strong>General Representation and Warranty.</strong>
                  <ol class="lower-alpha">
                    <li>You represent and warrant that:
                      <ol class="lower-roman">
                        <li>Your use of the Website will be in strict accordance with Homestud's <a href="{% url 'findtutors:privacy' %}">Privacy Policy</a>, with this Agreement and with all applicable laws and regulations (including without limitation any local laws or regulations in your country, state, city, or other governmental area, regarding online conduct and acceptable content, and including all applicable laws regarding the transmission of technical data exported from the country in which you reside), and;</li>
                        <li>Your use of the Website will not infringe or misappropriate the intellectual property rights of any third party.</li>
                      </ol>
                    </li>
                  </ol>
                </li>
                <br>
                <li><strong>Indemnification.</strong>
                  <ol class="lower-alpha">
                    <li>You agree to indemnify and hold harmless Homestud, its contractors, and its licensors, and their respective directors, officers, employees and agents from and against any and all claims and expenses, including legal fees, arising out of your use of the Website, including but not limited to your violation of this Agreement.</li>
                  </ol>
                </li>
                <br>
                <li><strong>Translation.</strong>
                  <ol class="lower-alpha">
                    <li>These Terms of Service were originally written in English (British). We may translate these Terms into other languages. In the event of a conflict between a translated version of these Terms of Service and the English version, the English version will control.</li>
                  </ol>
                </li>
                <br>
                <li><strong>Miscellaneous.</strong>
                  <ol class="lower-alpha">
                    <li>This Agreement constitutes the entire agreement between Homestud and you concerning the subject matter hereof, and they may only be modified by a written amendment signed by an authorized executive of Homestud, or by the posting by Homestud of a revised version.</li>
                    <li>Except to the extent applicable law, if any, provides otherwise, this Agreement, any access to or use of the Website will be governed by the laws of Ghana, and the proper venue for any disputes arising out of or relating to any of the same will be within the jurisdiction of the Ghana legal system.</li>
                    <li>The prevailing party in any action or proceeding to enforce this Agreement shall be entitled to costs and legal fees.</li>
                    <li>If any part of this Agreement is held invalid or unenforceable, that part will be construed to reflect the parties’ original intent, and the remaining portions will remain in full force and effect. A waiver by either party of any term or condition of this Agreement or any breach thereof, in any one instance, will not waive such term or condition or any subsequent breach thereof.</li>
                    <li>You may assign your rights under this Agreement to any party that consents to, and agrees to be bound by, its terms and conditions; Homestud may assign its rights under this Agreement without condition. This Agreement will be binding upon and will inure to the benefit of the parties, their successors and permitted assigns.</li>
                  </ol>
                </li>
              </ol>
              <!-- End Ts&Cs (links refer to public pages) -->
        </div>
    </div>
{% endblock content %}
