
<div class="card shadow-sm">
    <div class="row card-body">
        <!-- Profile image -->
        <div class="col-4 prof-img">
            <div class="big-circle">
                <div class="rate">
                  <p>GHC {{ tutor.rate_per_hour }}</p> 
                </div>
                <img src="{{ tutor.avatar.url }}" alt="">
            </div>
        </div>
        <!-- Tutor details -->
        <div class="col-8">
            <!-- first and last names -->
            <p class="lead-text mb-0">{{ tutor.fname }} {{ tutor.lname }}</p>
            <p class="small-text text-muted">{{ tutor.school }}</p>
            <!-- distance -->
            <div class="distance">
                <svg width="0.8em" height="0.8em" viewBox="0 0 16 16" class=mr-2 bi bi-geo-alt" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
                {{ tutor.distance.km|dividebyth }} km away
            </div>
            <!-- list of courses/Subjects -->
            <div class="course-chips-container mt-2">
                <p>Teaches subjects in:</p>
                {% for program in tutor.tutoring_programs %}
                    <div class="course-chips">{{ program }}</div>
                {% endfor %}
            </div>
            <a class="btn btn-sm btn-info" href="{% url 'findtutors:view_tutor_profile' tutor.slug %}">View Profile</a>
        </div>
    </div>
</div>