{% extends "account/base.html" %}
{% load static %}

{% block head_title %}
    Homestud - Spread the Word
{% endblock head_title %}

{% block extra_head %}

{% endblock extra_head %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-sm share-box card shadow-sm">
                <h3 class="hero-text mt-4 mb-4 text-center">You're all set!</h3>
                <img src="{% static 'illustration/mobile-post-colour.svg' %}" alt="">

                <div class="text-center share-body">
                    <p class="hero-text mb-2">One last step.</p>
                    <p class="hero-subtitle">Share homestud.co on social media to help us grow our community 
                        as we keep our platform free for tutors.
                    </p>
                </div>

                <div class="p-4 share-social">
                    <button class="btn btn-block btn-fb border-round mb-3" id="facebook_share">Facebook</button>
                    <button class="btn btn-block btn-twitter border-round mb-3" id="twitter_share">Twitter</button>
                    <!-- to do: only show dashboard to tutors -->
                    <a class="btn btn-block btn-primary mt-5 turq-color" href="/dashboard/profile">Go to my Dashboard</a>
                </div>
            </div>
        </div>
        
        <script>
            window.fbAsyncInit = function() {
              FB.init({
                appId            : '2669482440044354',
                autoLogAppEvents : true,
                xfbml            : true,
                version          : 'v9.0'
              });
            };
        </script>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
        <script>
            document.getElementById('facebook_share').onclick = function(){
                console.log('button clicked!')
                FB.ui({
                    display: 'popup',
                    method: 'share',
                    href: 'https://homestud.co',
                    quote: 'Homestud.co helps connect tutors and students in one place.  Become a tutor or Sign up now!',
                    hashtag: '#homestud #hometutorghana'
                  }, function(response){});
            }

            document.getElementById('twitter_share').onclick = function(){

                console.log('twitter button!')
                var text = 'Homestud.co helps connect tutors and students in one place. Become a tutor or Sign up now! @JoinHomestud';
                var urlText = encodeURI(text);
                var url = `https://twitter.com/intent/tweet?text=${urlText}`

                window.open(url, '_blank');
            }
        </script>
    </div>
{% endblock content %}