{% extends "account/base.html" %}
{% load i18n %}
{% load static %}
{% load extra_template_filters %}
{% load ratings %}
{% block head_title %}
      {{ tutor.get_full_name }}- {{ tutor.address }}
{% endblock head_title %}
{% block extra_head %}
  <!-- ratings -->
  <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
  <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% endblock extra_head %}

{% block content %}
    <div class="prof-header jumbotron">
        <!-- back button -->
        <span class="material-icons back-btn-float" onclick="goBack()">
            keyboard_backspace
        </span>
        <!-- profile picture -->
        <div class="profile-pic">
            {% if  tutor.avatar.url != '' %}
                <img src="{{ tutor.avatar.url }}" alt="{{ tutor.get_full_name }}-homestud-tutor">
            {% else %}
                <img src='{% static "img/avatar/no-avatar.png" %}' alt="{{ tutor.get_full_name }}-homestud-tutor">
            {% endif %}
        </div>

        <div class="prof-name">
            <!-- tutor name -->
            <p class="tutor-name">{{ tutor.get_full_name }}</p>
            <!-- tutor rating -->
            <div class="myRating">
                {% ratings tutor %}
            </div>
        </div>
        

        <div class="call-action">
            <div class="tutor-prof-sticky">
                <div>
                    <p class="lead text-center">{{ tutor.rate_per_hour }}<small>/hr</small></p>
                    <p class="mint-text text-center">1st lesson free</p>
                </div>
                <div class="hmst-w-100">
                    <form class="search-form" action="{% url 'chat:get_chat_url' %}" method="get">
                        <input class="d-none" name="target_user" type="text" value="{{ tutor.user.username }}">
                        <button class="btn btn-block semi-round book-a-cls-btn" type="submit">Book a class</button>
                    </form>
                </div>
            </div>
            
            <div style="clear: both;"></div>
        </div>
    </div>
    <!-- Profile details -->
    <div class="container">
        <div class="row jumbotron-bwhite">
            <!-- Side column -->
            <div class="col-sm col-md-4">
                <!-- Education -->
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="tutor-lead-text mb-2">Education History</p>
                        <div class="tutor-info-box">
                            <span class="material-icons md-18 text-muted">school</span>
                            <p class="tutor-text ml-3">{{ tutor.school }}</p>
                        </div>
                        <!-- programme of study -->
                        <div class="tutor-info-box">
                            <span class="material-icons md-18 text-muted">local_library</span>
                            <p class="tutor-text ml-3">{{ tutor.programme }}</p>
                        </div>
                        <!-- graduation dates -->
                        <div class="tutor-info-box">
                            <span class="material-icons md-18 text-muted">event</span>
                            <p class="tutor-text ml-3">{{ tutor.start_year }} - {{ tutor.end_year }}</p>
                        </div>
                    </div>
                </div>
                <!-- Lesson details -->
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="tutor-lead-text mb-2">Class Type</p>
                        <div class="class-es text-center mt-4">
                            {% for class in tutor.class_type %}
                                
                                {% if class == 'individual' %}
                                <div class="class-type mr-4">
                                    <span class="material-icons" style="font-size: 50px;">person_outline</span>
                                    <p>{{ class|title }}</p>
                                </div> 
                                {% endif %}

                                {% if class == 'group' %}
                                <div class="class-type mr-4">
                                    <span class="material-icons " style="font-size: 50px;">groups</span>
                                    <p>{{ class|title }}</p>
                                </div> 
                                {% endif %}

                                {% if class == 'online' %}
                                <div class="class-type">
                                    <span class="material-icons " style="font-size: 50px;">phonelink</span>
                                    <p>{{ class|title }}</p>
                                </div> 
                                {% endif %}

                            {% endfor %}
                        </div>
                        <!-- programmes -->
                        <div class="course-chips-container mt-4">
                            <p class="tutor-lead-text mb-3">Programs</p>
                            {% for program in tutor.tutoring_programs %}
                                <div class="course-chips card-sm-txt">{{ program }}</div>
                            {% endfor %}
                        </div>
                        <!-- Courses -->
                        <div class="course-chips-container mt-4">
                            <p class="tutor-lead-text mb-3">Courses</p>
                            {% for course in tutor.courses_subjects %}
                                <div class="course-chips card-sm-txt">{{ course }}</div>
                            {% endfor %}
                        </div>
                        <!-- Levels -->
                        <div class="course-chips-container mt-4">
                            <p class="tutor-lead-text mb-3">Levels</p>
                            {% for level in tutor.teach_levels %}
                                <div class="course-chips card-sm-txt">{{ level }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Bigger column -->
            <div class="col-sm col-md-8">
                        <!-- Bio -->
                <div class="card shadow-sm p-4">
                    <div class="card-body">
                        <p class="tutor-lead-text mb-2">Bio</p>
                        <p class="tutor-text line-breaks break-long-words">{{ tutor.bio }}</p>
                    </div>
                </div>
                    <!-- First Lesson Policy -->
                <div class="card shadow-sm p-4">
                    <div class="card-body">
                        <p class="tutor-lead-text mb-2">Booking Details</p>
                        <p class="tutor-text line-breaks break-long-words"> First {{ tutor.free_lesson_duration }}mins available for free. This will be an introductory and  
                            a get-to-know-each-other lesson. <br>
                            If all goes smoothly, tutoring will begin with agreed upon rates and scheduled days and time.
                        </p>
                    </div>
                </div>
                    <!-- Reviews -->
                <div class="card review-card shadow-sm p-4">
                    <div class="card-body">
                        
                        <div class="review-star-box">
                            <p class="text-center review-tutor-num tutor-lead-text mb-2"> Reviews on {{ tutor.get_short_name }} </p>
                            <!-- tutor rating -->
                            <div class="myRating">
                               {% ratings tutor %}
                            </div>
                        </div>
                        <!-- review button -->
                        
                        {% if not user.is_authenticated %}
                            <div class="text-center mt-2">
                                <p class="hero-subtitle text-center">Please <a href="{% url 'account_login' %}?next={{request.path}}">login</a> or <a href="{% url 'account_signup' %}?next={{request.path}}">sign up</a> to post a review</p>
                            </div>
                        {% elif not user_review_exists and user.is_authenticated and current_user != tutor_user %}
                            <div class="text-center mt-3">
                                <button class="btn btn-dark" data-toggle="modal" data-target="#exampleModalCenter">Write a review</button>
                            </div>
                            {% include "findtutors/review-modal.html" %}
                        
                        {% elif user_review_exists and user.is_authenticated %}
                            <div class="text-center text-muted mt-3">
                                <p class="hero-subtitle text-center">You've already reviewed this tutor!</p>
                            </div>
                        {% elif current_user == tutor_user %}
                            <div class="text-center mt-2">
                                <p class="hero-subtitle text-center">Homestud tutor community is based on trust. <br><br> Get reviews/recommendation from friends and colleagues to boost your visibility in search.</p>
                            </div>
                        {% endif %}
                        
                        
                        <!-- ------------------ review section ------------------------ -->
                        <div class="review-section mt-3">
                           
                            <!-- reviews from users -->
                            {% if reviews %}
                                {% for review in reviews %}
                                    <!-- separator -->
                                    <div class="rev-sep"></div>
                                    <div class="review-comment-box">
                                        <!-- user pic -->
                                        <div class="review-user-pic">
                                            <div class="no-user-pic">{{ review.rater.get_short_name|make_list|first  }}</div>
                                        </div>
                                        <!-- reviewer name -->
                                        <div class="reviewer-name">
                                            <p>{{ review.rater.get_short_name }}</p>
                                        </div>
                                        <!-- review comment -->
                                        <div class="review-comment">
                                            <p>
                                                {{ review.comment }}
                                            </p>
                                        </div>
                                    </div>
                                {% endfor %}
                               
                            {% else %}
                                    <!-- no reviews -->
                                <div class="mt-2">
                                    <p class="text-center">No written reviews for tutor yet.</p>
                                </div>
                            {% endif %}
                            
                            
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- End of coloumn -->
        </div>
        <!-- End of row -->
    </div>

    <script>
        function goBack(){
            window.history.back();
        }

        // scroll to write a review into focus
        $('.star-ratings-rating-full').on('click', function(){
            $([document.documentElement, document.body]).animate({
                scrollTop: $(".review-card").offset().top
            }, 2000);
        });
        
    </script>
{% endblock content %}
    