{% extends "account/base.html" %}
{% load i18n %}
{% load static %}
{% load extra_template_filters %}
{% block head_title %}
      {{ tutor.fullname }}- {{ tutor.address }}
{% endblock head_title %}

{% block content %}
    <div class="prof-header jumbotron">
        <!-- back button -->
        <span class="material-icons back-btn-float" onclick="goBack()">
            keyboard_backspace
        </span>
        <!-- profile picture -->
        <div class="profile-pic">
            {% if  tutor.avatar.url != '' %}
                <img src="{{ tutor.avatar.url }}" alt="{{ tutor.fullname }}-homestud-tutor">
            {% else %}
                <img src='{% static "img/avatar/no-avatar.png" %}' alt="{{ tutor.fullname }}-homestud-tutor">
            {% endif %}
        </div>
        <p class="prof-name lead-text">{{ tutor.fullname }}</p>
        <div class="call-action">
            <div>
                <p class="text-center">&#8373;{{ tutor.rate_per_hour }}<small>/hr</small></p>
                <p class="text-center">1st lesson free</p>
            </div>
            <form class="search-form" action="{% url 'django_chatter:get_chat_url' %}" method="post">
                {% csrf_token %}
                <input class="d-none" name="target_user" type="text" value="{{ tutor.user.username }}">
                <button class="btn border-round mint-bg" type="submit" href="">Book a class</button>
            </form>  
            
            <div style="clear: both;"></div>
        </div>
    </div>
    <!-- Profile details -->
    <div class="container">
        <div class="row jumbotron-bwhite">
            <!-- Side column -->
            <div class="col-sm col-md-4">
                <!-- Education -->
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="lead-text">Education</p>
                        <p class="lead">{{ tutor.school }}</p>
                        <p>{{ tutor.programme }}</p>
                        <p>{{ tutor.start_year }} - {{ tutor.end_year }}</p>
                    </div>
                </div>
                <!-- Lesson details -->
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="mb-1">Class Type</p>
                        <div class="class-es text-center mt-4">
                            {% for class in tutor.class_type %}
                                
                                {% if class == 'individual' %}
                                <div class="class-type mr-4">
                                    <span class="material-icons" style="font-size: 50px;">person_outline</span>
                                    <p>{{ class|title }}</p>
                                </div> 
                                {% endif %}

                                {% if class == 'group' %}
                                <div class="class-type mr-4">
                                    <span class="material-icons " style="font-size: 50px;">groups</span>
                                    <p>{{ class|title }}</p>
                                </div> 
                                {% endif %}

                                {% if class == 'online' %}
                                <div class="class-type">
                                    <span class="material-icons " style="font-size: 50px;">phonelink</span>
                                    <p>{{ class|title }}</p>
                                </div> 
                                {% endif %}

                            {% endfor %}
                        </div>
                        <!-- programmes -->
                        <div class="course-chips-container mt-4">
                            <p class="mb-1">Teaching Programs</p>
                            {% for program in tutor.tutoring_programs %}
                                <div class="course-chips card-sm-txt">{{ program }}</div>
                            {% endfor %}
                        </div>
                        <!-- Courses -->
                        <div class="course-chips-container mt-4">
                            <p class="mb-1">Courses</p>
                            {% for course in tutor.courses_subjects %}
                                <div class="course-chips card-sm-txt">{{ course }}</div>
                            {% endfor %}
                        </div>
                        <!-- Levels -->
                        <div class="course-chips-container mt-4">
                            <p class="mb-1">Levels</p>
                            {% for level in tutor.teach_levels %}
                                <div class="course-chips card-sm-txt">{{ level }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Bigger column -->
            <div class="col-sm col-md-8">
                        <!-- Bio -->
                <div class="card shadow-sm p-4">
                    <div class="card-body">
                        <p>Bio</p>
                        <p>{{ tutor.bio }}</p>
                    </div>
                </div>
                    <!-- First Lesson Policy -->
                <div class="card shadow-sm p-4">
                    <div class="card-body">
                        <p>Booking Details</p>
                        <p>First {{ tutor.free_lesson_duration }}mins available for free. This will be an introductory 
                            lesson to work out if the tutoring can work out. <br>
                            If all goes smoothly, tutoring will begin with agreed upon rates and scheduled days and time.
                        </p>
                    </div>
                </div>
            </div>
            <!-- End of coloumn -->
        </div>
        <!-- End of row -->
    </div>

    <script>
        function goBack(){
            window.history.back();
        }
    </script>
{% endblock content %}
    