
.avatar{
    display: none;
}

#imageInput {
    display: none;
}

#previewAvatar {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: auto;
    display: block;
    margin-bottom: 15px;
    object-fit: cover;
}

.upload-btn{
    margin: auto;
}

/* for dashboard avatar */

.previewAvatar {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: auto;
    display: block;
    margin-bottom: 15px;
    object-fit: cover;
}

.avatarForm a {
    display: none;
}

#avatar-avatar-clear_id {
    display: none;
}

.avt-btn{
    margin: auto;
    display: block;
    margin-top: 2rem;
}
