{% extends "star_ratings/widget_base.html" %}
{% load static %}
{% block rating_detail %}
    {% block rating_count %}
    <div class="ml-2">
        <p class='review-count'>({{ rating.count }} Review{{ rating.count|pluralize }})</p>
    </div>
    {% endblock rating_count %}
    <style>
        
    </style>
    <script>
        $(document).ready(function(){
            console.log('working');
            var stars_img = "{% static 'star-ratings/images/stars.png' %}".replace(/&amp;/g, "&");
            var sprite_img = '{{ sprite_image }}'.replace(/&amp;/g, "&");
            var review_id = '{{ id }}';

            var styleText = `
                <style>
                    #${review_id} .star-ratings-rating-full, #${review_id} .star-ratings-rating-empty{
                        background: url(${sprite_img}) no-repeat;
                        width: {{ icon_width }}px;
                        height: {{ icon_height }}px;
                        background-size: {{ sprite_width }}px;
                    }
                    .star-ratings-rating-full, .star-ratings-rating-empty{
                        background: url(${stars_img}) no-repeat;
                        display: block;
                        border: 0;
                    }

                </style>
            `;
            $('head').append(styleText);

           
        });
        
       
    </script>
    
{% endblock %}