{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="container">
        <p class="lead-text text-center">{% trans "Change Password" %}</p>

        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-block btn-dark shadow-sm border-round mt-2" type="submit" name="action">{% trans "Change Password" %}</button>
        </form>
    </div>
    
{% endblock %}
