{% extends "account/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Create an account." %}{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm">

      </div>
      <!-- sign up section -->
      <div class="col-sm pt-3">

        <div class="container">
          <p class="display-text text-center">{% trans "Create an Account" %}</p>
          <p class="text-center">{% blocktrans %}Already have an account? <a href="{{ login_url }}">Sign in</a>{% endblocktrans %}</p>
        </div>
        

        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form|crispy }}

          <!-- redirects to onboarding page -->
          <input type="hidden" name="{{ redirect_field_name }}" value="{% url 'findtutors:onboarding_usertype' %}" />
          <!-------------------- Commented section is default and redirects with a 'next function' allowing user to be redirected to previous page-->
          
          <!-- {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %} -->
          <button type="submit">{% trans "Sign Up" %} &raquo;</button>
        </form>
      </div>
    </div>
    
  </div>


{% endblock %}
