{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static   'css/500.css' %}">
    <script src="{% static 'js/500.js' %}"></script>

    <title>Error 500 | Homestud</title>
</head>
<body>
    <div class="full-screen">
        <div class='container'>
          <span class="error-num">5</span>
          <div class='eye'></div>
          <div class='eye'></div>
  
          <p class="sub-text">Maintenance Mode. We're <span class="italic">working</span> at the back door.</p>
          <!-- <a href="javascript:history.back()"></a> -->
        </div>
      </div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</body>


</html>